@using Microsoft.AspNetCore.Identity.EntityFrameworkCore;
@{
    ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <p><a asp-controller="Account" asp-action="Login">Enter</a></p>
    <p><a asp-controller="Account" asp-action="Register">Register</a></p>
    
}
else
{
    
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Exit" />
    </form>
}
