
    
@{
}
<div id="confirmDeletePartial">
    <h4>Delete User</h4>
    <p>Are you sure want to delete this user?</p>
    <form method="post" action="@Url.Action("ConfirmDelete", "User")">
        <input type="hidden" name="userId" value="@ViewData["UserId"]" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    </form>
</div>
