@model MyUserWebApp.ViewModels.ProfileViewModel
@{
    var userId = ViewBag.UserId;
    var userName = ViewBag.UserName;
    var userImage = ViewBag.AvatarPath;
}
<style>
    .avatar {
        height: 200px;
        width: 200px;
        border-radius: 300px;
        box-shadow: 0 0 0 3px darkgray, 0 0 13px #333
    }
</style>
<head>
    <title>My Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<form  asp-route-name="@userName">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div  class="form-group">
        <img class="avatar" id="profileImage" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">First name</label>
        <input type="text" asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label">Last name</label>
        <input type="text" asp-for="LastName" class="form-control" />
    </div>
    
    <lable></lable> 
    <div class="form-group"> 
        <a href="/Users/EditProfile"  class="btn btn-primary">Edit</a>
        <a href="/Home/Index" class="btn btn-secondary">Cancle</a>
    </div>
</form>
<script>
    let avatar=null;
    function getAvatar(){
        fetch('/api/<Avatar>/5/?', {
            method: "GET",
            headers: { "Accept": "application/json" }
        }).then(res => { return res.json() })
            .then(data => {
                avatar = data;
                renderAvatar();
            })
            .catch(err => {
                renderError(err)
            })
    }
    function renderAvatar(){
        let img = document.getElementById("profileImage");
        img.src=avatar;
        img.alt="Avatar";
    }
    getAvatar();

</script>