@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="pay" method="POST">
    <input type="text" name="amount" placeholder="Amount">
    <input type="text" name="card_number" placeholder="Card number">
    <input type="text" name="exp_month" placeholder="Expiration month">
    <input type="text" name="exp_year" placeholder="Expiration year">
    <input type="text" name="cvc" placeholder="CVC">
    <input type="submit" value="Pay with LiqPay">
</form>

